/* ========================================================
config - サイト共通設定
======================================================== */
/*  共通カラー変数
/* -------------------------------------------------------- */
/* サイト別 */
$color01: #f3f3f3; // key1
$color02: #ff3465; // key2
$color03: #fff77a; // key3
$color04: #f95f87; // key4
$color05: #ff3366; // key5
$color06: #dddddd; // key6
$color07: #d2b640; // key7
$color08: #d9d9d9; // key8
$color09: #010101; // key9
$color10: #fff77b; // key10
$color11: #fcf3d0; // key11
$color12: #ffecf1; // key12
$color13: #fdf9e7; // key13
$color14: #ffcedb; // key14
$color15: #d9afba; // key15
$color16: #5e5e5e; // key16
$color17: #ffcfdb; // key17
$color18: #ffdde5; // key18
$color19: #4a4a4a; // key19
$color20: #f9f7d4; // key20
$color21: #e5e5e5; // key21
$color22: #ffe8ee; // key22
$color23: #e4f3f9; // key23
$color24: #ffb320; // key24
$color25: #005B98; // key25
$color26: #b7b7b7; // key25

/* モノトーン */
$black: #000;
$white: #fff;

//画像相対パス #{$imgPath}
$imgPath: "../img/"; //AMP用 img要素書き換え #{$img}
$img: "img";

@font-face {
  font-family: 'Source Han Sans';
  font-style: normal;
	font-weight: 400;
  font-display: swap;
	src: url('../font/SourceHanSans-Medium.otf') format('opentype'),
}

@font-face {
  font-family: 'Source Han Sans';
  font-style: normal;
	font-weight: 600;
  font-display: swap;
	src: url('../font/SourceHanSans-Bold.otf') format('opentype'),
}

@font-face {
  font-family: 'Source Han Sans';
  font-style: normal;
	font-weight: 800;
  font-display: swap;
	src: url('../font/SourceHanSans-Heavy.otf') format('opentype'),
}

@mixin font1(){
	font-family: 'Source Han Sans';
}

// 両端揃えの設定 @include justify();
@mixin justify() {
	text-align: justify;
	text-justify: inter-ideograph;
	word-wrap: break-word;
	word-break: break-all;
}

@mixin flex($wrap: nowrap, $justify: null, $item: null) {
	display: flex;
	@if $wrap != null {
		flex-wrap: $wrap;
	}
	@if $justify != null {
		justify-content: $justify;
	}
	@if $item != null {
		align-items: $item;
	}
	box-sizing: border-box;
}

// breakepoint
$breakpoints: (
	"sp": "screen and (max-width: 767px)",
	"md": "screen and (min-width: 768px)",
)!default;
// @mixinの定義
@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
