@charset "UTF-8";

.editor-styles-wrapper {
  .cmt-info {
    background: $color23;
    border-radius: 10px;
    @include font1();

    @include mq(sp) {
      padding: 2rem 1.5rem;
    }

    @include mq() {
      display: flex;
      align-items: center;
      padding: 3rem 3.5rem;
      column-gap: 3rem;
    }

    .cmt-img {
      @include mq(sp) {
        margin: 0 auto;
        max-width: 80px;
      }

      @include mq() {
        max-width: 153px;
      }
    }

    .cmt-txt {
      @include mq() {
        width: 79%;
      }

      h6 {
        color: $color05;

        @include mq(sp) {
          margin-top: 0.8rem;
          font-size: 1.4rem;
        }

        @include mq() {
          font-size: 2rem;
          margin: 0 !important;
        }
      }

      p {
        line-height: 2;
        letter-spacing: -0.7px;

        @include mq(sp) {
          margin-top: 1.4rem;
          font-size: 1.3rem;
        }

        @include mq() {
          margin-top: 1.5rem;
          font-size: 1.6rem;
        }
      }
    }
  }
  h3 {
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    &::before {
      position: absolute;
      bottom: 0;
      width: 60px;
      height: 2px;
      background: #FF1493;
      content: '';
    }
  }
}


