@charset "UTF-8";

/*common*/
body {
  @include font1();
}

.s-pc {
  @include mq(sp) {
    display: none;
  }

  @include mq() {
    display: block;
  }
}

.s-sp {
  @include mq(sp) {
    display: block;
  }

  @include mq() {
    display: none;
  }
}

.inner {
  @include mq(sp) {
    padding: 0 1rem;
  }

  @include mq() {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.cmn-btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 2rem;
  box-shadow: 0 3px $color08;
  box-sizing: border-box;
  background: $color24;
  color: $white;
  font-weight: 600;
  text-align: center;

  @include mq(sp) {
    margin: 2rem auto;
    font-size: 2.1rem;
    max-width: 100%;
    border-radius: 10px;
  }

  @include mq() {
    margin: 3rem auto;
    font-size: 2.6rem;
    max-width: 400px;
    border-radius: 15px;
  }
}

// header 
.header {
  border-bottom: 3px solid $color23;
  h1 {
    color: $color05;
    @include mq(sp) {
      font-size: 2rem;
      padding: 2rem 0;
    }
    @include mq() {
      font-size: 3rem;
      padding: 3rem 0;
    }
  }
}

// breadcrumb
.breadcrumb {
	line-height: 22px;
	@include mq(sp) {
		margin: 2rem auto;
	}
	@include mq() {
		margin: 4rem auto;
		max-width: 980px;
	}
}

// sec-bg
.sec-bg {
  @include mq(sp) {
    padding: 1.5rem 0 4.3rem;
    background: linear-gradient($white 5%, $color01 95%);
  }

  @include mq() {
    padding: 5rem 0 8rem;
    background: linear-gradient($white 10%, $color01 90%);
  }
}

// mv blk
.mv-blk {
  position: relative;
  box-sizing: border-box;

  @include mq(sp) {
    padding: 1.5rem 1rem 1.5rem;
    background: url(#{$imgPath}bg_mv_sp.png) no-repeat center;
    background-size: 100% 100%;
  }

  @include mq() {
    padding: 3.4rem 0 3rem 4.7rem;
    background: url(#{$imgPath}bg_mv.png) no-repeat center;
    background-size: 100% 100%;
  }

  .cmt-box {
    box-sizing: border-box;
    font-weight: 600;

    @include mq(sp) {
      width: 100%;
      height: 42px;
      padding: 0.8rem 1rem;
      background: url(#{$imgPath}bg_cmt_sp.png) no-repeat center;
      background-size: 100% 100%;
      font-size: 1.3rem;
      letter-spacing: -0.5px;
    }

    @include mq() {
      height: 83px;
      padding: 1.5rem 2rem;
      background: url(#{$imgPath}bg_cmt.png) no-repeat center;
      background-size: 100% 100%;
      font-size: 2.6rem;
      letter-spacing: -0.8px;
      max-width: 680px;
    }

    p {
      @include mq(sp) {
        margin-top: -0.4rem;
      }

      @include mq() {
        margin-top: -0.7rem;
      }

      span {
        color: $color02;
      }
    }
  }

  .nurse-blk {
    display: flex;

    h2 {
      @include mq(sp) {
        width: 69%;
        margin: 0 0 1.7rem 0;
      }

      @include mq() {
        margin: 0 0 4rem 4.3rem;
        max-width: 528px;
      }
    }

    .nurse-img {
      position: absolute;

      @include mq(sp) {
        right: -10px;
        bottom: 75px;
        max-width: 157px;
      }

      @include mq() {
        right: -20px;
        bottom: 7px;
        max-width: 378.5px;
      }
    }
  }

  .compare-blk {
    position: relative;

    .compare-list {
      display: flex;
      position: relative;
      justify-content: space-between;
      z-index: 6;

      @include mq(sp) {
        flex-wrap: wrap;
        margin: 0 1rem;
      }

      @include mq() {
        margin-right: 4.7rem;
      }

      li {
        box-sizing: border-box;
        background: $white;
        font-weight: 600;
        text-align: center;


        @include mq(sp) {
          width: 48%;
          line-height: 1.2;
          margin-bottom: 1rem;
          padding: 1rem;
          border: 2.5px solid $color02;
          font-size: 1.4rem;
          letter-spacing: 0;
          border-radius: 15px;
        }

        @include mq() {
          width: 24.5%;
          line-height: 1.5;
          padding: 2rem 1.5rem;
          border: 5px solid $color02;
          font-size: 2.2rem;
          letter-spacing: -1px;
          border-radius: 30px;
        }

        span {
          background: linear-gradient(transparent 75%, $color03 0);
          color: $color02;

          @include mq(sp) {
            font-size: 2rem;
          }

          @include mq() {
            font-size: 3.2rem;
          }
        }

        &:nth-child(2) {
          span {
            @include mq(sp) {
              font-size: 1.9rem;
              letter-spacing: -1px;
            }

            @include mq() {
              font-size: 3rem;
              letter-spacing: -2.2px;
            }
          }
        }

        &:last-child {
          span {
            @include mq(sp) {
              font-size: 1.7rem;
            }

            @include mq() {
              font-size: 2.6rem;
            }
          }
        }
      }
    }

    .happy-img {
      position: absolute;
      z-index: 7;
      content: '';

      @include mq(sp) {
        bottom: -9px;
        left: -2px;
        max-width: 40px;
      }

      @include mq() {
        top: -90px;
        left: -22px;
        max-width: 101px;
      }
    }
  }
}

// ranking-blk
.ranking-blk {
  @include mq(sp) {
    margin-top: 3rem;
    box-sizing: border-box;
    max-width: 600px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
  }

  @include mq() {
    margin-top: 6rem;
  }

  .ranking-tbl {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    word-break: break-all;

    @include mq(sp) {
      position: relative;
      width: 100%;
      margin-bottom: 1rem;
      border-collapse: separate;
    }

    tr {

      th,
      td {
        border: 1px solid $color06;
      }

      th:first-child,
      td:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
        white-space: inherit;
      }

      th {
        line-height: 1;
        padding: 1rem 0.5rem;
        box-sizing: border-box;
        background: $color05;
        color: $white;
        font-weight: 600;

        @include mq(sp) {
          font-size: 1.6rem;
        }

        @include mq() {
          font-size: 1.8rem;
        }
      }

      td {
        line-height: 1.5;
        box-sizing: border-box;
        background: $white;

        @include mq(sp) {
          padding: 1rem 0.3rem;
        }

        @include mq() {
          padding: 2rem 0.7rem;
        }

        &:first-child {
          @include mq(sp) {
            min-width: 120px;
          }

          @include mq() {
            width: 25%;
          }
        }

        &:nth-child(2) {
          @include mq(sp) {
            min-width: 80px;
          }

          @include mq() {
            width: 13%;
            padding: 2rem 0.5rem;
          }
        }

        &:nth-child(3) {
          text-align: left;

          @include mq(sp) {
            min-width: 110px;
            font-size: 1.2rem;
          }

          @include mq() {
            width: 26%;
          }
        }

        &:nth-child(4),
        &:last-child {
          @include mq(sp) {
            min-width: 108px;
          }

          @include mq() {
            width: 14%;
          }
        }

        &:nth-child(5) {
          @include mq(sp) {
            min-width: 58px;
          }

          @include mq() {
            width: 8%;
          }
        }

        &.star {
          .rmp-results-widget {
            justify-content: center;
          }
          .rmp-results-widget__text,
          .rmp-results-widget__avg-rating {
            display: none;
          }

          .rmp-results-widget__visual-rating {
            margin: 0;

            .rmp-icon--ratings { 
              
              @include mq(sp) {
                font-size: 1.2rem;
                margin: 0 1px;
              }
              @include mq() {
                font-size: 1.6rem;
                margin: 0 2px;
              }
            }
          }
        }

        .ranking-btn {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          line-height: 1;
          margin: 0 auto;
          padding: 1rem;
          box-shadow: 0 3px $color08;
          box-sizing: border-box;
          background: $color24;
          color: $white;
          font-weight: 600;
          text-align: center;
          border-radius: 30px;
          max-width: 120px;
        }

        .company-img {
          margin: 0 auto;
        }
        
        .company-link {
          display: inline-block;
          margin-top: 1rem;
          text-decoration: underline;
          color: $color25;
          @include mq(sp) {
            font-size: 1.2rem;
          }
        }
      }

      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(9) {
        .company-img {
          @include mq(sp) {
            width: 90%;
          }

          @include mq() {
            width: 92%;
          }
        }
      }

      &:nth-child(3) {
        .company-img {
          @include mq(sp) {
            width: 70%;
          }

          @include mq() {
            width: 73%;
          }
        }
      }

      &:nth-child(4),
      &:nth-child(6),
      &:nth-child(7) {
        .company-img {
          @include mq(sp) {
            width: 80%;
          }

          @include mq() {
            width: 83%;
          }
        }
      }

      &:nth-child(5) {
        .company-img {
          @include mq(sp) {
            width: 57%;
          }

          @include mq() {
            width: 60%;
          }
        }
      }
    }

  }

  .scroll-hint-icon {
    background: $color16 !important;

    &::before {
      background-image: url(#{$imgPath}scroll_hand.png) !important;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &::after {
      background-image: url(#{$imgPath}scroll_arrow.png) !important;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &.ranking-scroll {
    // display: flex;
    // display: -webkit-flex;

    &::-webkit-scrollbar {
      height: 3.5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $color05;
    }

    &::-webkit-scrollbar-track-piece {
      background: transparent;
    }
  }
}


// sec-search
.sec-search {
  @include mq(sp) {
    padding: 2.5rem 0 3rem;
    background: linear-gradient(#fff 50%, #f3f3f3 50%);
  }

  @include mq() {
    padding: 6rem 0 8rem;
  }

  .search-ttl {
    text-align: center;

    p {
      display: inline-block;
      background: linear-gradient(transparent 73%, $color10 0);
      color: $color09;
      font-weight: 600;

      @include mq(sp) {
        font-size: 1.8rem;
      }

      @include mq() {
        font-size: 3.2rem;
      }

      span {
        @include mq() {
          font-size: 2.2rem;
        }

        &:first-child {
          @include mq(sp) {
            font-size: 1.4rem;
          }
        }
      }
    }

    h3 {
      display: inline-block;
      position: relative;
      margin: 0 auto;
      color: $color05;
      font-weight: 800;

      @include mq(sp) {
        margin-top: 0.5rem;
        padding-left: 3rem;
        font-size: 2.4rem;
      }

      @include mq() {
        padding-left: 5rem;
        font-size: 4.2rem;
      }

      &::after {
        position: absolute;
        left: 0;
        background: url(#{$imgPath}ico_search.png) no-repeat center;
        background-size: contain;
        content: '';

        @include mq(sp) {
          top: 9px;
          width: 24px;
          height: 24px;
        }

        @include mq() {
          top: 13px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

// sec-agent-btn 
.sec-agent-btn {
  background: $color11;

  @include mq(sp) {
    padding: 5rem 5rem 3.7rem;
  }

  @include mq() {
    padding: 8rem 0 6rem;
  }

  .agent-btn-list {
    display: flex;

    @include mq(sp) {
      flex-wrap: wrap;
      row-gap: 5rem;
    }

    @include mq() {
      justify-content: space-between;
    }

    li {
      position: relative;
      background: url(#{$imgPath}bg_agent_btn.png) no-repeat center;
      background-size: 100% 100%;

      @include mq(sp) {
        width: 100%;
      }

      @include mq() {
        width: 32%;
      }

      .ico {
        display: flex;
        position: absolute;
        left: 50%;
        justify-content: center;
        align-items: center;
        z-index: 99;
        box-sizing: border-box;
        background: $color05;
        transform: translateX(-50%);
        border-radius: 50px;

        @include mq(sp) {
          top: -32px;
          width: 65px;
          height: 65px;
          padding: 1.7rem;
        }

        @include mq() {
          top: -40px;
          width: 80px;
          height: 80px;
          padding: 2.2rem;
        }
      }

      &:last-child {
        .ico {
          @include mq(sp) {
            padding: 2rem;
          }

          @include mq() {
            padding: 2.5rem;
          }
        }
      }

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        color: $color05;
        text-align: center;

        @include mq(sp) {
          padding: 4rem 2rem;
        }

        @include mq() {
          padding: 5rem 2rem 2.5rem;
        }

        h2 {
          font-weight: 800;

          @include mq(sp) {
            font-size: 4rem;
          }

          @include mq() {
            font-size: 5.6rem;
          }
        }

        h3 {
          line-height: 1.2;
          margin-bottom: 1rem;
          font-weight: 800;

          @include mq(sp) {
            font-size: 3.2rem;
          }

          @include mq() {
            font-size: 4rem;
          }
        }

        p {
          font-weight: 600;

          @include mq() {
            font-size: 1.8rem;
          }

          span {
            color: $black;
          }
        }
      }
    }
  }
}

// sec-recommended-agent
.sec-recommended-agent {
  background: $color01;

  @include mq(sp) {
    padding: 3rem 0;
  }

  @include mq() {
    padding: 9.5rem 0 8rem;
  }

  .recommended-agent-ttl {
    text-align: center;

    h3 {
      display: inline-block;
      position: relative;
      color: $color05;
      font-weight: 800;

      @include mq(sp) {
        line-height: 1.2;
        padding: 0 3.5rem;
        font-size: 2.4rem;
      }

      @include mq() {
        padding: 0 6.5rem;
        font-size: 4.2rem;
      }

      &::before,
      &::after {
        position: absolute;
        background: url(#{$imgPath}ico_star.png) no-repeat center;
        background-size: contain;
        content: '';

        @include mq(sp) {
          top: 50%;
          width: 24px;
          height: 24px;
          transform: translateY(-50%);
        }

        @include mq() {
          top: 12px;
          width: 40px;
          height: 39px;
        }
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  .agent-list {
    .agent-data {
      background: $white;

      @include mq(sp) {
        margin-top: 3rem;
        border-top: 4px solid $color05;
      }

      @include mq() {
        margin-top: 5.8rem;
        border-top: 8px solid $color05;
      }

      .ttl-gp {
        background: url(#{$imgPath}bg_star.png) no-repeat center;
        background-size: cover;

        @include mq(sp) {
          padding: 2rem 1.5rem;
        }

        @include mq() {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3rem 4rem 4rem 4.5rem;
        }

        .agent-name {
          display: flex;
          align-items: center;
          @include mq(sp) {
            margin-bottom: 1rem;
          }

          @include mq() {
            width: 60%;
          }

          h5 {
            @include mq(sp) {
              font-size: 1.8rem;
            }

            @include mq() {
              font-size: 3rem;
            }
          }
          
          .agent-logo {
            @include mq(sp) {
              width: 35%;
              margin-left: 1rem;
            }

            @include mq() {
              width: 30%;
              margin-left: 2rem;
            }
            img {
              margin: 0;
              object-fit: contain;
            }
          }
        }
      }

      .content-gp {
        @include mq(sp) {
          padding: 1.5rem 2rem 2rem;
        }

        @include mq() {
          padding: 3.5rem 4rem 4rem;
        }

        .txt {
          line-height: 1.9;
          font-weight: 400;
          letter-spacing: -1px;

          @include mq(sp) {
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
          }

          @include mq() {
            margin-bottom: 2rem;
            font-size: 2.2rem;
            text-align: center;
          }
        }

        .detail {
          @include mq() {
            display: flex;
            justify-content: space-between;
          }

          .graph {
            @include mq(sp) {
              width: 88%;
              margin: 1.5rem auto;
              padding: 2rem 1.5rem 3rem;
              border: 1px solid $color06;
            }

            @include mq() {
              width: 40%;
              margin-top: 2.5rem;
            }
          }

          .point {
            @include mq() {
              width: 57%;
            }

            .pont-ttl {
              display: inline-block;
              line-height: 1;
              box-sizing: border-box;
              box-sizing: border-box;
              background: url(#{$imgPath}bg_point.png) no-repeat center;
              background-size: 100% 100%;
              color: $white;
              font-weight: 800;
              text-align: center;
              letter-spacing: 1px;

              @include mq(sp) {
                height: 33px;
                padding: 0.6rem 2.5rem;
                font-size: 1.5rem;
              }

              @include mq() {
                height: 41px;
                padding: 0.8rem 3rem;
                font-size: 1.8rem;
              }
            }

            .point-list {
              @include mq(sp) {
                margin: 1rem 0 1.5rem;
              }

              @include mq() {
                margin: 0.6rem 0 1.4rem;
              }

              li {
                position: relative;
                line-height: 1.3;
                margin-bottom: 1rem;

                @include mq(sp) {
                  padding-left: 1.5rem;
                }

                @include mq() {
                  padding-left: 2rem;
                }

                &::before {
                  position: absolute;
                  left: 0;
                  background: $color05;
                  content: '';
                  border-radius: 50px;

                  @include mq(sp) {
                    top: 7px;
                    width: 8px;
                    height: 8px;
                  }

                  @include mq() {
                    top: 6px;
                    width: 10px;
                    height: 10px;
                  }
                }
              }
            }

            .tax-tbl {
              width: 100%;
              border: 1px solid $color06;
              text-align: center;
              border-collapse: collapse;
              word-break: break-all;

              tr {

                th,
                td {
                  border: 1px solid $color06;
                  box-sizing: border-box;

                  @include mq(sp) {
                    display: block;
                  }
                }

                th {
                  padding: 1rem;
                  background: $color01;

                  font-weight: 600;

                  @include mq(sp) {
                    width: 100%;
                    text-align: left;
                  }

                  @include mq() {
                    width: 100px;
                    text-align: center;
                  }
                }

                td {
                  text-align: left;

                  @include mq(sp) {
                    width: 100%;
                    padding: 0.8rem 1rem 0.4rem;
                  }

                  @include mq() {
                    width: calc(100% - 100px);
                    padding: 0.8rem 1rem 0;
                  }

                  .tax-list {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                      display: inline-block;
                      box-sizing: border-box;
                      background: $color12;
                      color: $color05;
                      font-weight: 600;
                      text-align: center;
                      border-radius: 20px;

                      @include mq(sp) {
                        margin: 0 0.5rem 0.4rem 0;
                        padding: 0.5rem 1.2rem;
                        font-size: 1.2rem;
                      }

                      @include mq() {
                        margin: 0 1rem 0.8rem 0;
                        padding: 0.5rem 1.5rem;
                        font-size: 1.4rem;
                      }

                      &:last-child {
                        margin-right: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .cmt-blk {
          .cmt-info {
            background: $color23;
            border-radius: 10px;

            @include mq(sp) {
              padding: 2rem 1.5rem;
            }

            @include mq() {
              display: flex;
              align-items: center;
              padding: 3rem 3.5rem;
            }

            .cmt-img {
              @include mq(sp) {
                margin: 0 auto;
                max-width: 80px;
              }

              @include mq() {
                max-width: 153px;
                margin-right: 3rem;
              }
            }

            .cmt-txt {
              @include mq() {
                width: 79%;
              }

              h6 {
                color: $color05;

                @include mq(sp) {
                  margin: 0.8rem 0 1.4rem;
                  font-size: 1.4rem;
                }

                @include mq() {
                  font-size: 2rem;
                  margin-bottom: 1.5rem;
                }
                
              }

              p {
                line-height: 2;
                letter-spacing: -0.7px;
                text-align: justify;

                @include mq(sp) {
                  font-size: 1.3rem;
                }

                @include mq() {
                  font-size: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.bdr-line {
  line-height: 1.4;
  font-weight: 600;

  @include mq(sp) {
    background: linear-gradient(transparent 72%, $color10 0);
    color: $black;
  }

  @include mq() {
    background: linear-gradient(transparent 78%, $color10 0);
    color: $color05;
  }
}

// sec-career
.sec-career {
  background: $color14;

  @include mq(sp) {
    padding: 3rem 0;
  }

  @include mq() {
    padding: 6rem 0;
  }

  .ttl {
    text-align: center;

    h3 {
      display: inline-block;
      background: linear-gradient(transparent 78%, $color10 0);

      @include mq(sp) {
        margin-bottom: 3rem;
        font-size: 2.4rem;
      }

      @include mq() {
        margin-bottom: 7rem;
        font-size: 4.2rem;
      }
    }
  }

  ul {
    display: flex;

    @include mq(sp) {
      flex-wrap: wrap;
      row-gap: 3rem;
    }

    @include mq() {
      justify-content: space-between;
    }

    li {
      box-sizing: border-box;
      background: $white;
      font-weight: 600;

      @include mq(sp) {
        width: 100%;
      }

      @include mq() {
        width: 32%;
      }

      .career-ttl {
        position: relative;
        box-sizing: border-box;
        background: $color05;
        color: $white;
        text-align: center;

        @include mq(sp) {
          padding: 1.4rem 2rem;
          font-size: 1.6rem;
        }

        @include mq() {
          padding: 2rem 3rem;
          font-size: 2.6rem;
        }

        span {
          @include mq(sp) {
            font-size: 1.4rem;
          }

          @include mq() {
            display: block;
            font-size: 2.2rem;
          }
        }

        &::after {
          position: absolute;
          left: 50%;
          width: 0;
          height: 0;
          content: '';
          transform: translateX(-50%);

          @include mq(sp) {
            bottom: -10px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $color05;
          }

          @include mq() {
            bottom: -15px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 28px solid $color05;
          }
        }
      }

      .career-img {
        @include mq(sp) {
          padding: 4rem 7rem 3rem;
        }

        @include mq() {
          padding: 8rem 2.5rem;
        }
      }

      .career-btn {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        line-height: 1;
        box-shadow: 0 3px $color15;
        box-sizing: border-box;
        background: $color24;
        color: $white;
        text-align: center;

        @include mq(sp) {
          padding: 1.4rem;
          font-size: 2.1rem;
        }

        @include mq() {
          padding: 2rem;
          font-size: 2rem;
        }

        &::after {
          position: absolute;
          width: 0;
          height: 0;
          content: '';
          border-top: 11px solid transparent;
          border-left: 11px solid $white;
          border-bottom: 11px solid transparent;

          @include mq(sp) {
            right: 10px;
          }

          @include mq() {
            right: 30px;
          }
        }
      }
    }
  }
}

// footer 
.footer {
  .nav-list {
    display: flex;
    justify-content: center;

    @include mq(sp) {
      padding: 1.5rem 0;
    }

    @include mq() {
      padding: 3.3rem 0;
    }

    li {
      @include mq(sp) {
        margin-right: 2rem;
      }
  
      @include mq() {
        margin-right: 3rem;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        position: relative;
        color: $black;

        @include mq(sp) {
          padding-left: 0.6rem;
          font-size: 1rem;
        }

        @include mq() {
          padding-left: 1rem;
          font-size: 1.4rem;
        }

        &::before {
          position: absolute;
          left: 0;
          color: $black;
          content: '-';

          @include mq(sp) {
            top: 0;
          }
        }
      }
    }
  }
}

// search plugin
.wpcfs-preset {
  box-sizing: border-box;
  background: $white;

  @include mq(sp) {
    margin-top: 2.5rem;
    border: 5px solid $color17;
  }

  @include mq() {
    margin-top: 4rem;
    border: 10px solid $color17;
  }

  .bg-search {
    @include mq(sp) {
      background: url(#{$imgPath}bg_label_sp.png) no-repeat top left;
      background-size: 21% 100%;
    }

    @include mq() {
      background: url(#{$imgPath}bg_label.png) no-repeat top left;
      background-size: 13% 100%;
    }

    .wpcfs-input-input {
      display: flex;
      align-items: center;
      background: url(#{$imgPath}bg_border.png) repeat-x bottom;

      .wpcfs-label {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        font-weight: 600;

        @include mq(sp) {
          width: 22%;
          padding: 4.8rem 0.5rem;
          font-size: 1.4rem;
        }

        @include mq() {
          width: 13.5%;
          padding: 3.8rem 2rem;
          font-size: 1.8rem;
        }
      }

      .wpcfs-input {
        margin: 0 !important;

        @include mq(sp) {
          width: 78%;
          padding: 1rem 1rem 0.5rem;
        }

        @include mq() {
          width: 86.5%;
          padding: 2rem 2rem 0.8rem;
        }

        ul {
          display: flex;

          @include mq(sp) {
            flex-wrap: wrap;
          }

          li {
            box-sizing: border-box;

            @include mq(sp) {
              width: 49%;
              margin: 0 0.4rem 1rem 0;
              &:nth-child(2n) {
                margin-right: 0;
              }
            }

            @include mq() {
              width: 24%;
              margin: 0 1rem 1.5rem 0;
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        input[type="radio"],
        input[type="checkbox"] {
          display: none;

          &+label {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            line-height: 1.2;
            box-shadow: 0 3px $color21;
            box-sizing: border-box;
            background: $color20;
            color: $color19;
            font-weight: 600;
            text-align: center;
            border-radius: 30px;

            @include mq(sp) {
              height: 37px;
              padding: 1rem;
              font-size: 1.4rem;
            }

            @include mq() {
              height: 60px;
              padding: 1rem;
              font-size: 1.8rem;
            }
          }

          &:checked {
            &+label {
              border: 3px solid $color05;
              box-shadow: none;
              box-sizing: border-box;
              background: $color12;
              color: $color05;
            }
          }
        }
      }

      &.f3 {
        .wpcfs-label {
          @include mq(sp) {
            padding: 6.6rem 0.5rem;
          }
        }
      }

      &.f5 {
        .wpcfs-label {
          @include mq(sp) {
            padding: 2rem 0.5rem;
          }
        }

        .wpcfs-input {
          ul {
            li {
              @include mq() {
                width: 49%;
              }
            }
          }
        }
      }

    }
  }

  .wpcfs-input-submit {
    position: relative;

    @include mq(sp) {
      width: 90%;
      margin: 0 auto;
      padding: 2rem 0;
    }

    @include mq() {
      width: 41%;
      margin: 0 auto;
      padding: 3rem 0;
      max-width: 400px;
    }

    input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      line-height: 1;
      margin: 0 auto;
      padding: 2rem 2rem 2rem 5rem;
      border: none;
      box-shadow: 0 3px $color08;
      box-sizing: border-box;
      background: $color05;
      color: $white;
      font-weight: 600;
      letter-spacing: 2.5px;
      cursor: pointer;
      height: 60px;

      @include mq(sp) {
        font-size: 2.1rem;
        border-radius: 7.5px;
      }

      @include mq() {
        font-size: 2.6rem;
        border-radius: 15px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 28%;
      z-index: 99999;
      background: url(#{$imgPath}ico_search_white.png) no-repeat center;
      background-size: contain;
      content: '' !important;
      transform: translateY(-50%);

      @include mq(sp) {
        width: 25px;
        height: 25px;
      }

      @include mq() {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.search-error {
  background: $color01;
  color: $color05;
  font-weight: 600;
  text-align: center;

  @include mq(sp) {
    padding: 3rem 0;
    font-size: 2rem;
  }

  @include mq() {
    padding: 5rem 0;
    font-size: 3rem;
  }

  .cmn-btn {
    @include mq(sp) {
      margin: 3rem auto 0;
    }

    @include mq() {
      margin: 4rem auto 0;
    }
  }
}

// star plugin
.rmp-results-widget {
  display: flex;
  align-items: center;

  .rmp-results-widget__visual-rating {

    // margin: 0 1.5rem !important;
    @include mq(sp) {
      margin: 0.5rem 1rem 0 1.5rem;
    }

    @include mq() {
      margin: 0.7rem 1.5rem 0 2rem;
    }

    .rmp-icon--ratings {
      font-size: 2rem;

      @include mq(sp) {
        margin: 0 3px;
      }

      @include mq() {
        margin: 0 4px;
      }
    }
  }

  .rmp-results-widget__text {
    font-weight: 600;
  }

  .js-rmp-avg-rating {
    color: $color05 !important;
    font-weight: 800;

    @include mq(sp) {
      font-size: 2.4rem;
    }

    @include mq() {
      font-size: 3rem;
    }
  }
}

// bar graph plugin
.pb-bar-graph {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;

  @include mq() {
    max-width: 360px !important;
  }

  .pb-bar-graph__title {
    display: none;
  }

  .pb-bar-graph__dl {
    .pb-bar-graph__dt {
      border: none !important;
    }

    .pb-bar-graph__item {
      position: relative;
      padding: 0 !important;
      background: rgba(255, 51, 100, 0.3) !important;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      opacity: 0.8;

      @include mq(sp) {
        height: 25px;
      }

      @include mq() {
        height: 30px;
      }
      .graph__item__br {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        span {
          border-right: 2px dotted $color26;
          @include mq(sp) {
            width: 19.3%;
          }
    
          @include mq() {
            width: 19.5%;
          }
        }
      }
      
    }
  }
}

.pb-bar-graph[data-bg] {
  padding: 0 !important;
  box-shadow: none !important;

  .pb-bar-graph__dt {
    border: none !important;
  }

  .pb-bar-graph__dd {
    background: transparent !important;
  }
}

.pb-bar-graph[data-colset=p] {
  padding: 0 !important;
  background-color: transparent;

  .pb-bar-graph__fill {
    background: #ff3364 !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .pb-bar-graph__dd {
    background: transparent !important;
  }
}

.pb-bar-graph__item[data-thin] {
  .pb-bar-graph__fill {
    opacity: 1 !important;
  }
}


// pg-content
.pg-content {
  @include mq(sp) {
    margin-bottom: 5rem;
  }
  @include mq() {
    margin-bottom: 11rem;
  }

  h2 {
    position: relative;
    line-height: 1.4;
    margin-bottom: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    @include mq(sp) {
      font-size: 2.6rem;
    }
    @include mq() {
      font-size: 3.6rem;
    }
  }

  h3 {
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    &::before {
      position: absolute;
      bottom: 0;
      width: 60px;
      height: 2px;
      background: #FF1493;
      content: '';
    }
  }
  p {
    line-height: 1.9;
    font-weight: 400;
    text-align: justify;
  }

  ul {
    @include mq(sp) {
      margin-top: 2rem;
    }
    @include mq() {
      margin-top: 3rem;
    }
    li {
      position: relative;
      line-height: 1.3;
      margin-bottom: 1rem;
      @include mq(sp) {
        padding-left: 1.5rem;
      }
      @include mq() {
        padding-left: 2rem;
      }
      &::before {
        position: absolute;
        left: 0;
        background: $color05;
        content: '';
        border-radius: 50px;
        @include mq(sp) {
          top: 7px;
          width: 8px;
          height: 8px;
        }
        @include mq() {
          top: 6px;
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

}

